#wrapper {
  text-align: right;
  width: 100%;
  padding: 50px 0px 10px 0px;
  margin-top: 50px;
}

#footer {
  margin-bottom: 100px;
  text-align: right;
  position: relative; /* biar ikut parent kalau dibungkus di dalam contact */
  text-align: center; /* bisa right kalau mau, tapi biasanya center */
  margin-top: 20px; /* jarak secukupnya */
}
